<h1>Enter title and url:</h1>

<form action="/links" method="post">
  <label for="title">Title: </label>
  <input type="text" name="title">
  <label for="url">URL: </label>
  <input type="text" name="url">
  <label for="tag">Tag: </label>
  <input type="text" name="tag">
  <input type="submit" value="Save">
</form>
